
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    
    <title>Add Department</title>
</head>

<body>
    <!-- ADD EMPLOYEE FORM -->

    <form action="" method="POST">
        <h4 class="heading_4"><a href="../index.html">Dashboard</a></h4>
        <h1>Enter Department Details</h1>
        <div class="container">

            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label mt-3"><strong>Name:</strong></label>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Enter Department Name">
                </div>
                
                
                <label class="form-label"><strong>Locations:</strong></label>
                <select class="form-select mb-3 selectdepartment" name="dept" id="dept">
                    <option value="Select Department" selected disabled>Select Department</option>
                    
                   
                </select>
                
                <button   class="btn_1" id="adddept">Add Department</button>
                <button   class="btn_1"><a href="viewdepartments.html">View Departments</a></button>
            </div>
    </form>
    </div>





    

</body>
<script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../js/jquery-2.2.3.min.js"></script>
<script src="../js/script.js"></script>
</html>