<div data-id="2" class="tabcontent active" id="departmenttable">
   
    <h1>Details Of Departments</h1>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <button  class="btn btn-success" data-bs-toggle="modal" data-bs-target="#adddepartmentmodal">Add Department</button>
    </div>
    <!-- VIEW Departments TABLE -->
    <div class="table-responsive">
    <table class="table">
  <thead>
    <tr>
      
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      
    </tr>
  </thead>
  <tbody class="departmenttablebody" id="dtablebody">

   
  </tbody>
</table>
<!-- Add department modal -->
<div class="modal fade" id="adddepartmentmodal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
            <form action="" method="POST">
                
                <h1>Enter Department Details</h1>
                <div class="container">
        
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label mt-3"><strong>Name:</strong></label>
                            <input type="text" name="depname" id="depname" class="form-control" placeholder="Enter Department Name">
                        </div>
                        
                        
                        <label class="form-label"><strong>Locations:</strong></label>
                        <select class="form-select mb-3 selectlocations" name="locationn" id="locationn">
                            <option value="Select Department" selected disabled>Select Location</option>
                            
                           
                        </select>
                        
                        
                    </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger"  id="adddept">Add</button>
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
      
    </div>
  </div>

  </div>
<!-- add department modal end -->
<!-- update department modal -->
<div class="modal fade" id="updatedepartmentmodal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
            <form action="" method="POST">
                
                <h1>Enter Department Details</h1>
                <div class="container">
        
                    <div class="col-md-6">
                        <input type="hidden" class="depid" id="depid">
                        <div class="mb-3">
                            <label class="form-label mt-3"><strong>Name:</strong></label>
                            <input type="text" name="name" id="dname" class="form-control dname" placeholder="Enter Department Name">
                        </div>
                        
                        
                        <label class="form-label"><strong>Locations:</strong></label>
                        <select class="form-select mb-3 selectlocation" name="location" id="dlocation">
                            <option value="Select Department" class="selectedlocation" selected >Select Location</option>
                            
                           
                        </select>
                        
                        
                    </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="updatedepartment">Update</button>
            <button type="button" class="btn btn-default" id="deletedepartment">Delete</button>
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
      
    </div>
  </div>

  </div>
  <div class="modal fade" id="preventdel" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
          <h4 class="modal-title">Alert!!</h4>
        </div>
        <div class="modal-body">
          <p>You can't delete this entry</p>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
      
    </div>
  </div>
  <div class="modal fade" id="confirmdel" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
          <h4 class="modal-title">Alert!!</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to Delete this entry?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger"  id="confirmdeldepartment">Delete</button>
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
      
    </div>
    </div>
    
  </div>
<!-- update department modal end -->
  </div>

  