<div data-id="1" class="tabcontent active " id="employeestable">
    <h1>Details Of The Employees</h1>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <button  class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addemployeemodal">Add Employee</button>
    </div>
    <!-- VIEW EMPLOYEES TABLE -->
    <div class="table-responsive">
    <table class="table" >
  <thead>
    <tr>
      
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      
      <th scope="col">Department</th>
      
      <th scope="col">location</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="tablebody" id="etablebody">

   
  </tbody>
</table>

</div>
 <!-- Add employee modal -->
 <div class="modal fade" id="addemployeemodal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
            <form action="" method="POST" id="addemployee">
                
                <h2> Enter  Details Of The Employee</h2>
                <div class="container">
        
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label mt-3"><strong>First Name:</strong></label>
                            <input type="text" name="fname" id="fname" class="form-control" placeholder="Enter Employee Name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label mt-3"><strong>Last Name:</strong></label>
                            <input type="text" name="lname" id="lname" class="form-control" placeholder="Enter Employee Name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label"><strong>Email:</strong></label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Example@gmail.com">
                        </div>
                        <div class="mb-3">
                            <label class="form-label mt-3"><strong>Job Title:</strong></label>
                            <input type="text" name="Jtitle" id="Jtitle" class="form-control" placeholder="Enter Employee job">
                        </div>
                        
                        <label class="form-label"><strong>Departments:</strong></label>
                        <select class="form-select mb-3 selectdept" name="dept" id="dept">
                            <option value="Select Department" selected disabled>Select Department</option>
                            
                           
                        </select>
                        
                        
                    </div>
            
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger"  >Add</button>
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
          
        </div>
      </form>
      </div>
      
    </div>
  </div>

  </div>
<!-- edit employee modal -->
  <div class="modal fade" id="editemployeemodal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
            <form action="" method="POST" id="updateemployee">
                
                <h2> Edit  Details Of The Employees</h2>
                <div class="container">
        
                    <div class="col-md-6">
                        <input type="hidden" class="employeeid" id="employeeid">
                        <div class="mb-3">
                            <label class="form-label mt-3"><strong>First Name:</strong></label>
                            <input type="text" name="fename" id="fename" class="form-control fename" placeholder="Enter Employee Name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label mt-3"><strong>Last Name:</strong></label>
                            <input type="text" name="lename" id="lename" class="form-control lename" placeholder="Enter Employee Name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label"><strong>Email:</strong></label>
                            <input type="email" name="eemail" id="eemail" class="form-control eemail" placeholder="Example@gmail.com">
                        </div>
                        <div class="mb-3">
                            <label class="form-label mt-3"><strong>Job Title:</strong></label>
                            <input type="text" name="Jetitle" id="Jetitle" class="form-control jetitle" placeholder="Enter Employee job">
                        </div>
                        
                        <label class="form-label"><strong>Departments:</strong></label>
                        <select class="form-select mb-3 selectdeptu" name="udept" id="udept">
                            <option value="Select Department " class="selecteddept" selected >Select Department</option>
                            
                           
                        </select>
                        <button type="submit" class="btn btn-danger"   >Update</button>
          <button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#confirmationmodal">Delete</button>
                       
                    </div>
            </form>
        </div>
        <div class="modal-footer">
            
          
        </div>
      </div>
      <div class="modal fade" id="confirmationmodal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
              <h4 class="modal-title">Alert!!</h4>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this entry?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"  id="deleteemployee">Delete</button>
              <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
              
            </div>
          </div>
          
        </div>
      </div>
      <div class="modal fade" id="updateconfirmation" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
              <h4 class="modal-title">Alert!!</h4>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to update this entry?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"  id="updateemployee">Update</button>
              <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
              
            </div>
          </div>
          
        </div>
        </div>
        </div>
      </div>
      
    </div>
  </div>

  