
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    
    <title>View Employees</title>
</head>
<body>
<h4 class="heading_4"><a href="../index.html">Dashboard</a></h4>
    <h1>Locations</h1>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <a href="addlocation.html" class="btn btn-success">Add Location</a>
    </div>
    <!-- VIEW EMPLOYEES TABLE -->
    <div class="table-responsive">
    <table class="table">
  <thead>
    <tr>
      
      
      
      <th scope="col">location</th>
    </tr>
  </thead>
  <tbody class="locationtablebody" id="tablebody">

   
  </tbody>
</table>

</div>
</body>
<script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../js/jquery-2.2.3.min.js"></script>
<script src="../js/script.js"></script>

</html>